[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/gcsfuse meh-oculus-datadumps /home/oculusagent/meh-ftps-sync/meh-oculus-datadumps
ExecStop=/usr/bin/fusermount -u /home/oculusagent/meh-ftps-sync/meh-oculus-datadumps/

[Install]
WantedBy=default.target